<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
   
</head>

<body>

    <div id="app">
        <div class="container mx-auto p-10">
            <!-- ... -->
            <div class="mb-10">
                <p>List Members</p>
            </div>
            <ul>
                <li v-for="(member, index) in members" class="mb-3" :key="index">
                    <div class="max-w-sm w-full lg:max-w-full lg:flex">
                        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"  v-bind:style="[member.photo_profile ? { backgroundImage: 'url(' + baseApiUrl + member.photo_profile + ')' } : { backgroundImage: 'url(' + 'https://dummyimage.com/300' + ')' }  ]">
                        </div>
                        <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                            <div class="mb-8">
            
                                <div class="text-gray-900 font-bold text-xl mb-2">{{member.name}}</div>
                                <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
                                <p class="text-gray-700 text-base">No. HP: {{member.no_hp}}</p>
                                <p class="text-gray-700 text-base">Alamat: {{member.address}}</p>

                            </div>
                            <div class="flex items-center">
            
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
      
        <div class="list-member">
            
        </div>
    </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    // console.log(axios)
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            members: [],
            baseApiUrl: 'https://demo-api-vue.sanbercloud.com/',
        },
        methods: {
            getMembers: function () {
                // this.members = [1]
                const config = {
                    method: 'get',
                    url: "http://demo-api-vue.sanbercloud.com/api/member"
                }
                this.message = 'Loading...'
                axios(config)
                    .then((response) => {
                        // console.log('test')
                        this.message = "Done"
                        this.members = response.data.members
                        console.log(response.data.members[10])
                    })
                    .catch((error) => {
                        // this.members = response.data.members
                        // console.log('test error')
                        console.log(error)
                    })
                // this.message = 'Done..'
            }
        },
        async created() {
            await this.getMembers()
        }

    })
</script>

</html>