<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- {{filteredBooks2}} -->
        <div class="formSearch">
            <input type="text" v-model="search"> 
            <!-- {{search}} -->
        </div>
        <div>
            <!-- test -->
            <ul v-for="(books, index) in filteredBooks">
                <li :key="index">
                    {{books}}
                </li>
            </ul>
        </div>
    </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            books: [
                'Kalkulus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman',
            ],
            search: ''
        },
        computed: {
            filteredBooks() {
                return this.books.filter((book) => {
                    return book.toLowerCase().match(this.search.toLowerCase());
                })
            },
            filteredBooks2: function () {
                return this.books.filter((book) => {
                    return book.toLowerCase().includes(this.search.toLowerCase())
                })
            }

        }

    })
</script>

</html>