<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div style="margin-bottom: 1em">
            <input type="text" v-model="message"> {{message}}
        </div>
        <div style="margin-bottom: 1em">
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message2 }}</p>
            <br>
            <textarea v-model="message2" placeholder="add multiple lines"></textarea>
        </div>
        <div style="margin-bottom: 1em">
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label </div>
        </div>
        <div style="margin-bottom: 1em">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div style="margin-bottom: 1em">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>
        <div style="margin-bottom: 1em">
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option value="ayam">A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
        <div style="margin-bottom: 1em">
            <select v-model="selected2">
                <option disabled value="">Please select one</option>
                <option v-for="option in options" v-bind:value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <br>
            <span>Selected: {{ selected2 }}</span>
        </div>
        <div style="margin-bottom: 1em">
        </div>
        <div style="margin-bottom: 1em">
        </div>
        <div style="margin-bottom: 1em">
        </div>
        <div style="margin-bottom: 1em">
        </div>
        <div style="margin-bottom: 1em">
        </div>
        <div style="margin-bottom: 1em">
        </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            message2: "",
            checked: false,
            checkedNames: [],
            picked: "",
            selected: "",
            selected2: '',
            options: [
                { text: 'One', value: 'A' },
                { text: 'Two', value: 'B' },
                { text: 'Three', value: 'C' }
            ]

        },

    })
</script>

</html>