<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form>
            <div>
                <input v-model.lazy="msg"> {{msg}}
            </div>
            <div>
                <input v-model.number="age" type="number"> {{ age }}
            </div>
            <div>
                <input v-model.trim="msg2"> {{msg2}}
            </div>

        </form>
    </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: 'Hello Vue!',
            age: null,
            msg2: ''
        },

    })
</script>

</html>