<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 10px;
            width: 225px;
            background: #eee;
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input,
        textarea,
        select,
        option {
            /* display: block; */
            /* margin-top: 5px; */
            min-width: 200px
        }
    </style>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <div v-if="errors.length">
                <p>Please correct the following errors:</p>
                <ul v-for="error in errors">
                    <li>{{error}}</li>
                </ul>

            </div>

            <label>Title: {{title}}</label>
            <input type="text" name="title" v-model="title">
            <label>Description: </label> {{description}}
            <textarea v-model="description"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            // message: 'Hello Vue!',
            title: '',
            description: '',
            errors: []
        },
        methods: {
            submitForm() {
                this.errors = []

                if (this.title.length < 5) {
                    this.errors.push('Title must be at least 5 characters')
                }

                if (this.description.length < 10) {
                    this.errors.push('Description must be at least 10 characters')
                }

                if (this.errors.length === 0 ) {
                    alert('Form submitted!')
                }
                // event.preventDefault(); digantikan dengan modifier prevent
                // console.log('submitForm Y');
            }
        }

    })
</script>

</html>