<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- {{listPeople}} -->
        <div class="formInput">
            <div>
                <!-- pake v-bind -->
                <!-- <input type="text" :value="formUser" @input="formUser = $event.target.value"> -->
                <!-- pake v-model -->
                <input type="text" v-model="formUser">
                <button @click="addUser" v-if="!editMode">Add</button>
                <button @click="updateUser" v-if="editMode">Update</button>
            </div>
        </div>
        <div class="userList">
            <ul v-for="(item, index) in reverseUsers">
                <li :key="index">
                    {{item.name}}
                    <button @click="editUser(index)">edit</button>
                    <button @click="deleteUser(index)">delete</button>
                </li>

            </ul>
        </div>


    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            editMode: false,
            message: 'Hello Vue!',
            arrPeople: [
                {
                    name: 'Phil Collins',
                },
                {
                    name: 'Eren Yeager',
                },
                {
                    name: 'Maruf Amin',
                }
            ],
            formUser: '',
            idSelected: null
        },
        computed: {
            reverseUsers: {
                get() {
                    return this.arrPeople.slice().reverse();
                },
                set(value) {
                    // console.log(value)
                    this.arrPeople = value.slice().reverse();
                }
            }


        },
        methods: {
            addUser: function () {
                this.arrPeople.push({
                    name: this.formUser
                })
                this.formUser = ''
            },
            editUser: function (id) {
                this.formUser = this.reverseUsers[id].name
                this.editMode = true
                this.idSelected = id
            },

            updateUser: function () {
                this.reverseUsers[this.idSelected].name = this.formUser
                this.editMode = false
                this.formUser = ''
            },
            deleteUser: function (id) {
                let confirmation = confirm('Are you sure?')
                if (confirmation) {
                    console.log('test')
                    this.reverseUsers = this.reverseUsers.filter((item, index) => {
                        return index !== id
                    })
                }
                // this.arrPeople.splice(id, 1)
            }
        }
    })
</script>

</html>