<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div>
            <h1>{{ 'pesan: ' + message }}</h1>
            <p>{{ `number * 20 = ${number * 20}`}}</p>
            <p>{{ test ? 'YES' : 'NO'}}</p>
            <p>{{ message.split('').reverse().join('') }}</p>
            <p v-once>{{ message }}</p>
            <h2 v-html="tag_html"></h2>
            <h1>{{ message }}</h1>
            <h2>{{ author }}</h2>
            <p>{{fullName}}</p>
            <button onclick="vm.tambah(2)">
                Tambah
            </button>
            {{a}}

            <button onclick="vm.notif(vm.fullName)">
                Click Me
            </button>

            <input type="text" v-bind:value="pesan">
            <p>{{pesan}}</p>
            <input type="text" v-model="pesan">
            <p>{{pesan}}</p>

        </div>
        <!-- <button v-on:click="reverseMessage">Reverse Message</button> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                author: 'Aziz',
                tag_html: `<span style="color: green;">Tetst v-html</span>`,
                number: 30000,
                test: false,
                array: [1, 2, 3, 4, 5],

                //bagian 5 computed property
                firstName: "Siapa ya",
                lastName: "Nama saya?",

                // bagian 6 method property
                a: 1,
                name: "aku baba",
                //bagian 7 data binding
                pesan: "coba pesan",
            },
            // template: `
            // <div>
            //     <h1>{{ message }}</h1>
            //     <p>{{ test ? 'YES' : 'NO'}}</p>
            //     <h1>{{ message }}</h1>
            //     <h2>{{ author }}</h2>
            //     <p>{{ b }}</p>
            //     <p>{{ fullName }}</p>
            // </div>
            // `,
            computed: {
                b: function () {
                    return this.number * 5;
                },
                fullName: {
                    get() {
                        return this.firstName + " " + this.lastName;
                    },
                    set: function (params) {
                        let names = params.split(" ");
                        this.firstName = names[0];
                        this.lastName = names[1];
                    }
                }
            },
            methods: {
                tambah(number) {
                    this.a += number;
                },
                notif(name) {
                    alert(name);
                }
            }
        })
    </script>
</body>

</html>